@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,500;1,400&family=Xanh+Mono&display=swap');

.description {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.element {
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
}

.staticText, .textChange {
  color: #30D5C8;
  font-family: 'poppins', sans-serif;
  font-size: clamp(1.5rem, 0.5rem + 10vw, 3rem);
  font-weight: lighter;
}

#starWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.name {
  color: orange;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
}

.textWrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50vh;
  transform: translateY(-50%);
  padding-left: 5vw;
  z-index: 1;
}

.rocket {
  justify-self: center;
  top: 35vh;
  left: 64vw;
  position: absolute;
  z-index: 0;
  &:hover {
    animation: animate 0.2s ease infinite;
    &:before {
      content: '';
      position: absolute;
      bottom: -162px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 170px;
      background: linear-gradient(#00d0ff, transparent)
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -162px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 170px;
      background: linear-gradient(#00d0ff, transparent);
      filter: blur(20px);
    }
    &:hover i {
      visibility: visible;
    }
  }
}

i {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  animation: animateStars linear infinite;
}

@keyframes animateStars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(150vh);
  }
}

.rocketPng {
  height: 30vh;
  width: 10vw;
  min-height: 180px;
  min-width: 140px;
  display: block;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

@media (max-width: 763px) {
  //1150px
  .textWrapper {
    top: 35vh;
  }
  .rocket {
    top: 60vh;
    left: 40vw;
    // transform: translateX(-50%);
  }
}