@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,500;1,400&family=Xanh+Mono&display=swap');

.description {
  display: flex;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.element {
  color: red;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
}

.staticText, .textChange {
  color: #30D5C8;
  font-family: 'poppins', sans-serif;
  font-size: clamp(1.5rem, 0.5rem + 10vw, 3rem);
  font-weight: lighter;
}

#starWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.name {
  color: orange;
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
}

.textWrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50vh;
  transform: translateY(-50%);
  padding-left: 5vw;
  z-index: 1;
}

.launchButton {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.rocket {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  top: 20vh;
  left: 64vw;
  position: absolute;
  z-index: 0;
  // &:hover {
    // animation: animate 0.2s ease infinite;
    // &:before {
    //   content: '';
    //   position: absolute;
    //   bottom: -162px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: 10px;
    //   height: 170px;
    //   background: linear-gradient(#00d0ff, transparent)
    // }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   bottom: -162px;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: 10px;
    //   height: 170px;
    //   background: linear-gradient(#00d0ff, transparent);
    //   filter: blur(20px);
    // }
    // &:hover i {
    //   visibility: visible;
    // }
  // }
}

.launch {
  animation: animate 0.2s ease infinite;
    &:before {
      content: '';
      position: absolute;
      bottom: -162px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 170px;
      background: linear-gradient(#00d0ff, transparent);
      z-index:10;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: -162px;
      left: 50%;
      transform: translateX(-50%);
      width: 10px;
      height: 170px;
      background: linear-gradient(#00d0ff, transparent);
      filter: blur(20px);
    }
}

i {
  visibility: visible;
  z-index: -1;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  animation: animateStars linear infinite;
}

@keyframes animateStars {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(150vh);
  }
}

.rocketPng {
  height: 30vh;
  width: 10vw;
  min-height: 180px;
  min-width: 140px;
  display: block;
}

@keyframes animate {
  0%, 100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

@media (max-width: 763px) {
  .textWrapper {
    top: 35vh;
  }
  .rocket {
    top: 60vh;
    left: calc(50vw - 70px);
    flex-direction: row !important;
  }
  .notPressed {
    position: absolute;
    margin: 0;
    left: 40vw;
    transform: trnaslateY(-50%);
    width: 40px !important;
    height: 40px !important;
    font-size: 7px;
    box-shadow: 0 8px 0 rgb(183,9,0),
    0 10px 20px rgba(0,0,0,.35) !important;
  }
  .pressed {
    position: absolute;
    margin: 0;
    left: 40vw;
    transform: trnaslateY(-50%);
    width: 40px !important;
    height: 40px !important;
    font-size: 7px;
    box-shadow: 0 2px 0 rgb(183,9,0),
    0 10px 20px rgba(0,0,0,.35) !important;
  }
}

.notPressed {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  box-shadow: 0 12px 0 rgb(183,9,0),
    0 15px 20px rgba(0,0,0,.35);
  text-transform: uppercase;
  transition: .1s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#button span { position: relative; }

.pressed {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: none;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 900;
  background: red;
  text-shadow: 0 3px 1px rgba(122,17,8,.8);
  text-transform: uppercase;
  transition: .1s all ease-in;
  outline: none;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0),
    0 8px 6px rgba(0,0,0,.45) !important;
}
