@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,500;1,400&family=Xanh+Mono&display=swap');

.container {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  padding: 8vh;
  background-size: cover;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  > label {
    color: black;
    // background: -webkit-linear-gradient(19deg,black, #30D5C8);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-family: 'poppins', sans-serif;
  }

  > input, textarea{
    border-radius: 0.5em;
    font-size: 1.2em;
    font-family: 'poppins', sans-serif;
    border-color: white;
  }
}

.title {
  color: #30D5C8;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  // background: -webkit-linear-gradient(orange, rgb(221, 52, 221));
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}

#message {
  height: 200px;
}

.contact {
  width: 30vw;
  min-width:320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50vh;
  // transform: translateY(-50%);
}

.mt-5 {
  display: flex;
  justify-content: center;
}

.btn {
  width: 50%;
  margin: 5vh;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}