.dates {
  color: white;
}

.timeline {
  color: white;
  display: flex;
  justify-content: center;
}

#experience {
  position: relative;
  background-image: linear-gradient(19deg, #B721FF 0%, #21D4FD 100%);
}